<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall2013.publisher.mapper.d1.OrderWideMapper">
    <select id="getOrderTotalAmount" resultType="java.math.BigDecimal">
         select sum(final_detail_amount) order_total_amount from order_wide_0213 where dt= #{dt}
    </select>

    <select id="getOrderHourAmount" resultMap="hourAmountMap">
        select toHour(create_time) hr, sum(final_detail_amount) order_amount from order_wide_0213 where dt=#{dt}
        group by  toHour(create_time)
    </select>
    <!-- type 1 通用 map 2 专用 javabean-->
    <!-- autoMapping 数据库字段叫什么名 ，map的key就是什么名-->
    <resultMap id="hourAmountMap" type="com.atguigu.gmall2013.publisher.bean.HourAmount" autoMapping="true">
    </resultMap>
</mapper>
